ObjectDescription(
    width: 15,
    height: 15,
    scale: 0.10,
    obstacles: [
        WideLine(WideLine(
            start: Pos2(x: -2, y: 0),
            end:   Pos2(x:  2, y: 0),
            width: 0.1,
        ))
    ],
)
